@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    font-family: 'MedievalSharp', cursive;
    color: #000000;
}

.fightarea {
    display: flex;
    gap: 20px;
    height: 100vh;
    width: 100%;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6d3fe3d0-d00b-4bdd-8517-a26f9862ee68/daob498-d2c07e9b-d17c-4859-82e5-dbeacdfc3c9d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzZkM2ZlM2QwLWQwMGItNGJkZC04NTE3LWEyNmY5ODYyZWU2OFwvZGFvYjQ5OC1kMmMwN2U5Yi1kMTdjLTQ4NTktODJlNS1kYmVhY2RmYzNjOWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.nCsR0qS0BCM4YkAdtaGn-utLDMog97cFuTVhEKIrIsk");
    background-repeat: no-repeat;
    background-size: cover;
}

#char,
#monster {
    flex: 1;
}

.lifebar {
    height: 40px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 50px;
}

.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}

button {
    margin: 0px 50px;
    height: 50px;
    width: 200px;
}

.log {
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll;
    margin: 50px;
    color: #000;
    background-color: rgba(255, 94, 0, 0.65);
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}

strong {
    background-color: rgb(255, 128, 0);
    font-size: 60px;
    margin-left: 50px;
}